<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Games Paradise</title>

    <meta content="width=device-width, initial-scale=1" name="viewport"/>

    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/0fa68b04a7.js" crossorigin="anonymous"></script>

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Quicksand:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>

    <!-- jquery UI -->
    <script type = "text/javascript" src = "https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>

    <!-- css stylesheet -->
    <link rel="stylesheet" href= <%= cssSrc %>>
    <link rel="stylesheet" href= <%= cssResponsive %>>

    <!-- Variables that needs to be stored outside the js file (because js file is going to be reloaded) -->
    <script type="text/javascript">
      let scrollMove = 0;

      let rightPosition;

      let prevScrollPosition = window.scrollY;
    </script>
  </head>
  <body>
    <!-- Header -->

    <!-- Navbar -->
    <nav class="navbar">
      <div class="home">
        <a href="/"><h2>HOME</h2></a>
      </div>

      <div class="navbar-menu hide-navbar-menu">
        <div class="">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>

      <div class="navbar-right">
        <form class="" action="/search" method="post">
          <div class="search">
            <input type="search" name="gameName" placeholder="Search games">
            <i class="fas fa-search"></i>
            <div class="search-results">

            </div>
          </div>
        </form>

        <div class="navbar-info">
          <a href="/about"><h2>ABOUT</h2></a>
          <a href="/contact"><h2>CONTACT</h2></a>
        </div>
      </div>

      <div class="menu-slider">
        <div class="">
          <a href="/"><h2>Home</h2></a>
        </div>

        <div class="all-games">
          <a href="/games"><h2>All Games</h2></a>
        </div>

        <div class="new-games">
          <h2>New Games</h2>
          <a href="/recently-released"><i class="fas fa-hourglass-end"></i>Recently released</a>
          <a href="/coming-soon"><i class="fas fa-step-forward"></i>Coming soon</a>
        </div>

        <div class="top-games">
          <h2>Top Games</h2>
          <a href="/top"><i class="fas fa-crown"></i>Top all time</a>
          <a href="/best"><i class="fas fa-trophy"></i>Best of the year</a>
        </div>

        <div class="top-platforms">
          <a href="/platforms"><h2>Platforms</h2></a>
        </div>

        <div class="genres">
          <a><h2>Genres</h2></a>
          <div class="">
            <a href="/genres/fighting">Fighting</a>
            <a href="/genres/shooter">Shooter</a>
            <a href="/genres/platform">Platform</a>
            <a href="/genres/racing">Racing</a>
            <a href="/genres/arcade">Arcade</a>
            <a href="/genres/real-time-strategy-rts">RTS</a>
            <a href="/genres/role-playing-rpg">RPG</a>
            <a href="/genres/simulator">Simulator</a>
            <a href="/genres/sport">Sport</a>
            <a href="/genres/strategy">Strategy</a>
            <a href="/genres/adventure">Adventure</a>
            <a href="/genres/music">Music</a>
            <a href="/genres/turn-based-strategy-tbs">TBS</a>
            <a href="/genres/card-and-board-game">Card & Board Game</a>
            <a href="/genres/indie">Indie</a>
            <a href="/genres/visual-novel">Visual Novel</a>
            <a href="/genres/hack-and-slash-beat-em-up">Hack and slash</a>
            <a href="/genres/pinball">Pinball</a>
            <a href="/genres/quiz-trivia">Quiz-Trivia</a>
            <a href="/genres/puzzle">Puzzle</a>
            <a href="/genres/tactical">Tactical</a>
            <a href="/genres/moba">MOBA</a>
            <a href="/genres/point-and-click">Point-and-click</a>
          </div>
        </div>

        <div class="">
          <a href="/about"><h3>About</h3></a>
          <a href="/contact"><h3>Contact</h3></a>
        </div>
      </div>
    </nav>

    <!-- Header info -->
    <div class="header-info">
      <div class="header-title">
        <h1><%= title %></h1>
      </div>

      <div class="header-options">
        <div class="order">
          <p>Order by:</p>
          <strong></strong>
          <i class="fas fa-chevron-down"></i>
          <div class="order-options">
            <p>Relevance</p>
            <p>Release date</p>
            <p>Rating</p>
            <p>Popularity</p>
            <p>Name</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Main content -->
    <div class="main-container">
      <div class="side-bar">
        <div class="all-games">
          <a href="/games"><h2>All Games</h2></a>
        </div>

        <div class="new-games">
          <h2>New Games</h2>
          <a href="/recently-released"><i class="fas fa-hourglass-end"></i>Recently released</a>
          <a href="/coming-soon"><i class="fas fa-step-forward"></i>Coming soon</a>
        </div>

        <div class="top-games">
          <h2>Top Games</h2>
          <a href="/top"><i class="fas fa-crown"></i>Top all time</a>
          <a href="/best"><i class="fas fa-trophy"></i>Best of the year</a>
        </div>

        <div class="top-platforms">
          <h2>Platforms</h2>
          <div class="">
            <a href="/platforms/PC">PC</a>
            <a href="/platforms/PS4">Play Station 4</a>
            <a href="/platforms/XONE">Xbox One</a>
            <a href="/platforms/Switch">Nintendo Switch</a>
            <a href="/platforms/Android">Android</a>
            <a href="/platforms/iOS">iOS</a>
            <a href="/platforms">More...</a>
          </div>
          <button type="button" name="button"><i class="fas fa-chevron-down"></i>Show</button>
        </div>

        <div class="genres">
          <h2>Genres</h2>
          <div class="">
            <a href="/genres/fighting">Fighting</a>
            <a href="/genres/shooter">Shooter</a>
            <a href="/genres/platform">Platform</a>
            <a href="/genres/racing">Racing</a>
            <a href="/genres/arcade">Arcade</a>
            <a href="/genres/real-time-strategy-rts">RTS</a>
            <a href="/genres/role-playing-rpg">RPG</a>
            <a href="/genres/simulator">Simulator</a>
            <a href="/genres/sport">Sport</a>
            <a href="/genres/strategy">Strategy</a>
            <a href="/genres/adventure">Adventure</a>
            <a href="/genres/music">Music</a>
            <a href="/genres/turn-based-strategy-tbs">TBS</a>
            <a href="/genres/card-and-board-game">Card & Board Game</a>
            <a href="/genres/indie">Indie</a>
            <a href="/genres/visual-novel">Visual Novel</a>
            <a href="/genres/hack-and-slash-beat-em-up">Hack and slash</a>
            <a href="/genres/pinball">Pinball</a>
            <a href="/genres/quiz-trivia">Quiz-Trivia</a>
            <a href="/genres/puzzle">Puzzle</a>
            <a href="/genres/tactical">Tactical</a>
            <a href="/genres/moba">MOBA</a>
            <a href="/genres/point-and-click">Point-and-click</a>
          </div>
          <button type="button" name="button"><i class="fas fa-chevron-down"></i>Show</button>
        </div>
      </div>

      <div class="game-container">
        <% results.forEach((data) => { %>
          <div class="game">
            <a href="/<%= data.id %>" class="game-form">
              <div class="cover">
                <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/<%= data.cover.image_id %>.jpg" alt="">
              </div>
            </a>
              <div class="info">
                <a href="/<%= data.id %>" class="game-form">
                  <div class="main-info">
                    <p><%= data.name %></p>
                    <% if(data.total_rating != undefined) { %>
                      <p><%= data.total_rating.toFixed(0) %></p>
                    <% }
                       else { %>
                       <p></p>
                    <% } %>
                  </div>
                </a>

                <div class="hidden-info">
                  <div class="game-platforms">
                    <p>Platforms:</p>
                    <div><% data.platforms.forEach((platform) => { %>
                      <a href="/platforms/<%= platform.abbreviation %>"><%= platform.name %>,</a>
                    <% }) %></div>
                  </div>
                  <hr>
                  <div class="game-genres">
                    <p>Genres:</p>
                    <div><% data.genres.forEach((genre) => { %>
                      <a href="/genres/<%= genre.slug %>"><%= genre.name %>,</a>
                    <% }) %></div>
                  </div>
                  <hr>
                  <div class="game-date">
                    <p>Release date:</p>
                    <p><%= new Date(data.first_release_date * 1000).toLocaleString("en-US", {month: "short"}) %>-<%= new Date(data.first_release_date * 1000).toLocaleString("en-US", {day: "numeric"}) %>-<%= new Date(data.first_release_date * 1000).toLocaleString("en-US", {year: "numeric"}) %></p>
                  </div>
                </div>
              </div>

          </div>
        <% }) %>

        <button class="load-btn" type="button" name="button">
          LOAD MORE
          <div class="balls">
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
          </div>
        </button>
      </div>
    </div>

    <i class="far fa-arrow-alt-circle-up fa-2x button-up"></i>


    <!-- js file -->
    <script src=<%= jsGameFunc %> charset="utf-8"></script>
    <script src=<%= jsGamesOrderMenu %> charset="utf-8"></script>
    <script src=<%= jsSrc %> charset="utf-8"></script>
    <!-- <script src=<%= jsSidebar %> charset="utf-8"></script> -->
    <script src=<%= jsAutoSearch %> charset="utf-8"></script>
  </body>
</html>
